header {
	position: fixed;
	background-color: var(--darkGray);
	z-index: 999;
	width: 100%;

	transition: transform 0.3s ease;
}

header.hidden {
	transform: translateY(-100%);
}

menu {
	display: flex;
	
	padding: 0;
	margin: 0;

	width: 100%;
	height: 60px;
	
	list-style: none;
}

menu p {
	font-size: 140%;
	color: var(--veryLightPeach);
	text-decoration: none;
}

menu img {
	height: 24px;
	margin: 6px;
}

menu div {
	display: flex;
	align-items: center;
}

li.menu {
	flex: 1;
}

li.menu.home {
	flex: 1.5;
}

li.menu.home div.shrink {
	display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  animation: shrink 1.5s cubic-bezier(.67,0,.33,1) forwards;
}
li.menu.home div.enlarge {
	display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  animation: enlarge 1.5s cubic-bezier(.67,0,.33,1) forwards;
}

@keyframes shrink {
  from { width: calc(175.617px + 40.8px); }
  to { width: 40.8px; }
}

@keyframes enlarge {
	from { width: 40.8px; }
	to { width: calc(175.617px + 40.8px); }
}

li.menu.home div p {
	margin-right: 6px;
}


li.menu:hover {
	background-color: var(--hoverDarkGray);
}

div.menu {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
