header {
	position: fixed;
	background-color: var(--darkGray);
	z-index: 999;
	width: 100%;

	transition: transform 0.3s ease;
}

header.hidden {
	transform: translateY(-100%);
}

menu {
	display: flex;
	
	padding: 0;
	margin: 0;

	width: 100%;
	height: 60px;
	
	list-style: none;
}

menu p {
	font-size: 140%;
	color: var(--veryLightPeach);
	text-decoration: none;
}

menu img {
	height: 24px;
	margin: 6px;
}

menu div {
	display: flex;
	align-items: center;
}

li.menu {
	flex: 1;
}

li.menu.home {
	flex: 1.5;
}

li.menu.home div.hidden-test {
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
  animation: shrink 10s forwards;
}

li.menu.home div.hidden-test p {
	width: 100%;
}

@keyframes shrink {
  from { width: 100%; }
  to { width: 0; }
}



li.menu:hover {
	background-color: var(--hoverDarkGray);
}

div.menu {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}
