header {
	background-color: var(--darkGray);
	width: 100%;
}

menu {
	display: flex;
	
	padding: 0;
	margin: 0;

	width: 100%;
	height: 60px;
	
	list-style: none;
}

menu p {
	font-size: 140%;
	color: var(--veryLightPeach);
	text-decoration: none;
}

menu img {
	height: 24px;
	margin: 6px;
}

menu div {
	display: flex;
	align-items: center;
}

li.menu {
	flex: 1;
}

li.menu.home {
	flex: 1.5;
}
li.menu:hover {
	background-color: var(--hoverDarkGray);
}

div.menu {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
}