div.corp {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	font-size: 150%;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 2em;
}

h1 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.corp p {
	margin-bottom: 0.8em;
}

.corp img {
	/*margin-top: 0.5em;*/
	border-radius: 5%;
	width: 100%;
}

.corp a {
	text-decoration: underline 0.07em
}

.corp div:has(> img) {
	display: flex;
	justify-content: center;
	/*align-items: center;*/
	position: relative;
	/*flex-direction: column;*/
}

.split3 , .split2{
	display: grid;
	gap: 2vh;
}


@media (orientation: landscape) {
	.split3 {
		grid-template-columns: repeat(3, 1fr);
	}

	.split2 {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (orientation: portrait) {
	.corp .split3 div:has(> p) {
		grid-column: 1 / 3;
	}

	.split3 {
		grid-template-columns: repeat(2, 1fr);
	}

	.split2 {
		grid-template-columns: 1fr;
	}
}

.corp .inline {
	display: grid;
	gap: 2vh;
}

