div.corp {
	margin-left: 5vw;
	margin-right: 5vw;
	margin-top: 3vh;
	margin-bottom: 3vh;
	font-size: 150%;
}

ul {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 2em;
}

h1 {
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.corp p {
	margin-bottom: 0.8em;
}

.corp img {
	/*margin-top: 0.5em;*/
	border-radius: 1vw;
	height: 50vh;
}

.corp a {
	text-decoration: underline 0.07em
}

.corp div >:has(img) {
	display: flex;
	justify-content: center;
}

.split3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.split2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

