div.corp {
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 3vh;
	padding-right: 3vh;
	display: grid;
	grid-gap: 1vh;
  grid-template-columns: repeat(3,1fr);
}

.picture {
  width: 100%;
  display: block;
  border-radius: 1vw;
  cursor: pointer;
}

.title {
  grid-column: 1 / 4;
  display: flex;
  justify-content: center;
}

.title img {
  width: 60%;
  margin: 2vh;
}

.description {
  width: calc(100% - 2vw);
  padding-right: 1vw;
  padding-left: 1vw;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 4%;

}

.box-image {
  position: relative;
  display: block;
  border-radius: 1vw;
  overflow: hidden;
  height: calc(92vw/3*4/3);
}

.description h2 {
  width: fit-content;
  color: #fff;
  font-size: 5vw;
  border-radius: 1vw;
  background-color: rgb(from var(--hoverDarkGray)/0.3);
}


.absolute {
  position: absolute;
}

.par4-1 {
  top: 25%;
}
.par4-2 {
  top: 50%;
}
.par4-3 {
  top: 75%;
}

.par3-1 {
  top: 33%;
}
.par3-2 {
  top: 66%;
}

.par2-1 {
  top: 50%;
}